* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}


.top-slice {
    background-color: #F3F5F7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    max-width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    margin-left: auto;
}

.content p {
    font-family: "Inter", sans-serif;
    color: #141718;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.top-slice {
    display: flex;
    align-items: center;
}

.blue-shop {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #377DFF;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}

.close {
    margin-left: auto;
}

.close-icon {
    display: flex;
    align-items: center;
}


.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.text-all {
    display: flex;
    align-items: center;
    gap: 4px;
}

.burger-menu {
    display: none;
}


.title {
    color: #141718;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
}

.grey {
    color: #6C7275;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
}

.nav-bar-a {
    text-decoration: none;
    color: #6C7275;
    line-height: 24px;
    font-weight: 400;

}

.nav-bar,
.home,
.Shopnowcard {
    font-family: "Space Grotesk", sans-serif;
    color: #141718;
}


.icon-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.shop-bag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.slide {
    position: relative;
}

.slide img {
    width: 100%;
    max-width: 100%;
}

.button1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

.button2 {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.point {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 40px;
}

.title2 {
    font-size: 72px;
    text-wrap: nowrap;
    font-weight: 500;
    line-height: 76px;
}

.textp {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #6C7275;
    max-width: 453px;
}

.blackword {
    color: #141718;
    font-weight: 500;
}

.card {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    gap: 24px;
}

.images {
    width: 100%;
    max-width: 100%;
}

.small-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.small-card1 {
    position: relative;
}

.small-card2 {
    position: relative;
}

.placeholder {
    position: relative;
}

.text-card1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 6%;
    left: 9%;
}

.Shopnowcard {
    font-size: 16px;
    line-height: 28px;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}

.Shopnow {
    font-family: "Inter", sans-serif;
    color: #141718;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}

.room {
    font-size: 34px;
    line-height: 38px;
    text-decoration: none;
    color: #141718;
    font-weight: 500;
}

.bedroom2 {
    display: none;
}

.text-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 59%;
    left: 7%;
}

.title-catalog {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    max-width: 1120px;
    margin: 0 auto;
    padding: 48px 0;
}

.titlecatalog {
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: #141718;
    line-height: 44px;
}

.product {
    display: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 1120px;
    margin: 40px auto 32px auto;
}

.catalog-card {
    display: flex;
    gap: 24px;
    max-width: 1120px;
    margin: 0 auto;
    overflow: hidden;
}

.rate-star {
    display: flex;
    gap: 2px;
    border: none;
    cursor: pointer;
    background-color: #fff;

}

.catalog-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 12px;
}

.catalog-card-with-text {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

.catalog-text-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #141718;
    text-decoration: none;
}

.prices {
    display: flex;
    gap: 12px;
}

.price-now {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #141718;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.price-befor {
    font-family: "Inter", sans-serif;
    color: #6C7275;
    text-decoration: line-through;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

.catalog-img {
    position: relative;
}

.img-catalog {
    min-width: 230px;
}

.catalog-img button {
    cursor: pointer;
}

.buttons-line button {
    border: none;
}

.hover-buttons-1 {
    display: none;
    position: absolute;
    background-color: #141718;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    padding: 9px 64px;
    border-radius: 8px;
    bottom: 5%;
    left: 5%;
}

.hover-buttons-2 {
    display: none;
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: none;
    border: none;
}

.catalog-img:hover {
    .hover-buttons-1 {
        display: inline;
    }

    .hover-buttons-2 {
        display: inline;
    }
}


.buttons-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 4%;
    left: 6%;
}

.catalog-img button {
    font-family: "Inter", sans-serif;
}

.new {
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    color: #141718;
    padding: 4px 14px;
    border-color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

}

.sale {
    border-color: #38CB89;
    background-color: #38CB89;
    color: #FFFFFF;
}


.range-slider {
    display: flex;
    justify-content: center;
    margin: 48px 0 48px 0;
}

.slider-range {
    appearance: none;
    -webkit-appearance: none;
    max-width: 1120px;
    width: 100%;
    min-width: 280px;
    height: 4px;
    background: #E8ECEF;
    border-radius: 80px;
    outline: none;
    cursor: pointer;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60%;
    height: 4px;
    background: #343839;
    border-radius: 80px;
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 60%;
    height: 4px;
    background: #343839;
    border-radius: 80px;
    cursor: pointer;
}

.advice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 0 48px 0;
}

.greycard {
    background-color: #F3F5F7;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
}

.smtext-1 {
    line-height: 28px;
    text-decoration: none;
    color: #141718;
    font-weight: 500;
    font-size: 20px;
}

.smtext-2 {
    line-height: 24px;
    text-decoration: none;
    color: #6C7275;
    font-weight: 300;
    font-size: 14px;
}

.baner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-baner {
    width: 100%;
}

.text-inline {
    vertical-align: middle;
}

.block-baner {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F3F5F7;
    height: 100%;
}

.text-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    text-wrap: nowrap;
    background-color: #F3F5F7;
    margin: auto;
}

.regular-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 32px;
    font-size: 20px;
    text-decoration: none;
    color: #141718;
}


.sale-up {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #377DFF;
    align-content: center;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
    line-height: 16px;
}

.article {
    padding: 80px 0 40px 0;
}

.images-art {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-between;
}

.images-art-img {
    padding-bottom: 24px;

}

.images-art-img img {
    width: 100%;
    max-width: 100%;
}

.images-art-a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 28px;
}

.article {
    padding-bottom: 80px;
}

.email {
    background-image: url(/img/bacground-img/emailbanner2.svg);
    background-size: cover;
    padding: 100px 10px;


}

.email-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.email-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.paragraf-2 {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #141718;
    font-size: 18px;
    line-height: 30px;
}

.email-form input {
    background: url(/img/icon/email.svg) no-repeat scroll 0;
    padding: 0 60px 0 32px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 28px;
    border: none;
    width: 100%;
}

.email-form input:focus {
    outline: none;
}

.email-form {
    display: grid;
    grid-template-columns: 9fr 1fr;
    max-width: 488px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #6c727585;
    padding: 12px 0px;
}

.email-form a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #6C7275;
}

footer {
    background-color: #141718;
}

.footer-all {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 57px;
    max-width: 1120px;
    margin: 0 auto;
    padding: 80px 0 32px 0;
}


.footer-bar {
    display: flex;
    justify-content: space-between;
}

.foot-bar-all {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top-color: #6C7275;
    border-top-style: solid;
    border-top-width: 0.5px;
}

.footer-title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.stick {
    font-size: 24px;
    font-weight: 200;
}

.footer-title-1 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.footer-title-2 {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.footer-left-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.footer-left-line a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 200;
}

.line-fat span {
    font-weight: 500;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}



/*начало второй страницы*/

.bread-crop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1120px;
    margin: 0 auto;
    gap: 16px;
    padding: 16px 0;
}

.bread-crop img {
    padding: 0 8.6px;
}

.bread-crop a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #6C7275;
    text-decoration: none;
}

.bread-crop span {
    color: #141718;
}

.product-card {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    max-width: 1120px;
    margin: 0 auto;
}

.for-img {
    position: relative;
}

.button-status button {
    border: none;
    cursor: pointer;
}


.product-img {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.button-status {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    top: 5%;
    left: 4%;
}

.button1-card {
    position: absolute;
    left: 3%;
    top: 53.5%;
    transform: translateY(-50%);
}

.button2-card {
    position: absolute;
    right: 3%;
    top: 53.5%;
    transform: translateY(-50%);
}

.mini-img {
    display: flex;
    align-items: center;
    gap: 24px;
}

.more {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.rate,
.price {
    display: flex;
    align-items: center;
}

.rate {
    gap: 10px;
}

.rate-p {
    color: #141718;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.base-title {
    color: #141718;
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    padding-top: 16px;
}

.base-text {
    color: #6C7275;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 16px 0;
}

.price {
    gap: 12px;
    padding-bottom: 24px;
}

.now {
    color: #141718;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

.befor {
    color: #6C7275;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.time {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
    border-top-color: #E8ECEF;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #E8ECEF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.times-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

.time-title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    columns: #343839;
}

.time-name {
    color: #6C7275;
}

.card-time-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-time {
    font-size: 34px;
    line-height: 38px;
    font-weight: 500;
    padding: 11px 14px;
    color: #141718;
    background-color: #F3F5F7;
    border: none;
}

.variation {
    padding: 24px 0;
}

.var-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.var-des {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #141718;
    padding: 8px 0 24px 0;
}

.var-bred {
    text-decoration: none;
    color: #6C7275;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.var-bred img {
    text-decoration: none;
    padding-left: 8px;
}

.color {
    display: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 8px 0 16px 0;
}


.mini-chair-color {
    display: flex;
    align-items: center;
    gap: 16px;
}

.mini-chair-color button {
    border: none;
    cursor: pointer;
}

.focus-button:active,
.focus-button:focus,
.focus-button.focused {
    border-style: solid;
    border-color: #141718;
    border-width: 2px;
    border-radius: 5px;
}

.focus-button:focus+.text {
    display: block;
}

.button-for-choise {
    padding: 15px 0;
}

.counting-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 10px 10px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
    grid-area: c;
}

.counting-all p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.wish {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border-color: #141718;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 8px;
    grid-area: f;
}

.high-line-button {
    display: grid;
    grid-template-areas: "c f f f f f f f f f f f f f"
        "a a a a a a a a a a a a a a";
    gap: 24px;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 0;
    margin: 0 auto;
}

.add {
    grid-area: a;
    border: none;
    color: #FFFFFF;
    background-color: #141718;
    padding: 10px 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    border-radius: 8px;
}

.number-with-line {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    border-bottom-style: solid;
    border-bottom-color: #E8ECEF;
    border-bottom-width: 1.8px;
}

.discription {
    display: flex;
    align-items: center;
    gap: 58px;
}

.dis-name-title {
    color: #6C7275;
    padding: 24px 0 8px 0;
}

.dis-name-title-2 {
    color: #6C7275;
    padding-bottom: 24px;
}

.dis-text-1 {
    padding: 24px 0 8px 0;
}

.dis-text-2 {
    padding-bottom: 24px;
}

.review {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    margin: 0 auto;
}

.review-top-bar {
    display: flex;
    gap: 80px;
    border-bottom-style: solid;
    border-bottom-color: #E8ECEF;
    border-bottom-width: 1.8px;
}

.review-title {
    padding: 48px 0 30px 0;
}

.input-review {
    position: relative;
}

.input-review input {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 26px 0;
    border-style: solid;
    border-color: #E8ECEF;
    border-width: 1.8px;
    border-radius: 16px;
}

.input-review button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    padding: 6px 40px;
    background-color: #141718;
    color: #FFFFFF;
    border-radius: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.title-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.opt {
    color: #141718;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    padding: 14px 141px 14px 16px;
    border-style: solid;
    border-color: #E8ECEF;
    border-width: 1.8px;
    border-radius: 16px;
}

.review-all {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review-card {
    display: flex;
    align-items: start;
    gap: 40px;
    border-bottom-style: solid;
    border-bottom-color: #E8ECEF;
    border-bottom-width: 1.8px;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review-top-bar {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.grey-title {
    text-decoration: none;
    color: #6C7275;
}

.reiew-main-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
}

.customer {
    padding-bottom: 24px;
}

.avatar-name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.review-text-grey {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C7275;
}

.but-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 24px auto 40px;

}

.but-more button {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 6px 40px;
    border-radius: 80px;
    border-style: solid;
    border-color: #141718;
    border-width: 1.8px;
    cursor: pointer;
}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.filter-and-catalog {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.catalod-big {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 24px;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Show-more {
    display: flex;
    justify-content: center;
}

@media(max-width: 1160px) {
    .images-art {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .navigation,
    .banner,
    .frame,
    .card,
    .article,
    .catalog,
    .advice,
    footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    .email {
        background-image: none;
        background-color: #F2F4F6
    }

}

@media(max-width: 950px) {
    .title2 {
        font-size: 60px;
        line-height: 64px;
    }

    .text-card {
        gap: 8px;
        top: 49%;
    }

    .Shopnowcard {
        font-size: 14px;
    }

    .advice {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

}

@media (max-width:880px) {
    .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .range-slider {
        margin: 40px 0;
    }

    .baner2 {
        display: flex;
        flex-direction: column;
    }

    .text-banner {
        margin: 58px 32px;
    }

    .footer-all {
        gap: 40px;
    }

    .footer-bar {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 32px;
    }

    .footer-title-text {
        padding: 0 0 0 40px;
    }
}

@media (max-width:770px) {
    .title2 {
        font-size: 50px;
        line-height: 54px;
    }

    .foot-bar-all {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;
        padding: 24px 0;
    }

    .footer-left-line {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }
}


@media (max-width:650px) {

    .search-icon,
    .avatar-icon,
    .nav-bar,
    .blue-shop,
    .button1,
    .button2 {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .title2 {
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width:600px) {
    .frame {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .textp {
        max-width: 310px;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .greycard {
        padding: 32px 16px;
    }
}

@media (max-width:550px) {

    .navigation,
    .banner,
    .frame,
    .card,
    .advice,
    .article,
    .top-slice,
    .banner,
    .catalog,
    .banner2,
    footer {
        padding-left: 15px;
        padding-right: 15px;

    }
}

@media (max-width:450px) {
    .room {
        font-size: 28px;
        line-height: 34px;
    }

    .product-1 {
        display: none;
    }

    .product {
        display: block;
    }

    .smtext-1 {
        font-size: 14px;
        line-height: 22px;
    }

    .smtext-2 {
        font-size: 12px;
        line-height: 20px;
    }

    .greycard {
        padding: 24px 12px;
    }

    .footer-title-text {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        gap: 16px;
    }

    .stick {
        transform: rotate(90deg);
    }

    .titlecatalog-ban {
        font-size: 34px;
        line-height: 38px;
    }

    .regular-text {
        font-size: 16px;
        line-height: 26px;
    }

    .title-catalog {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .paragraf-1 {
        font-size: 28px;
        line-height: 34px;
    }

    .paragraf-2 {
        font-size: 14px;
        line-height: 22px;
    }

    .article {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


@media (max-width:350px) {
    .title2 {
        font-size: 35px;
        line-height: 38px;
    }

    .bedroom {
        display: none;
    }

    .bedroom2 {
        display: block;
    }

    .text-card {
        top: 35%;
    }

    .text-card-1 {
        top: 18%;
    }

    .greycard {
        padding: 18px 12px;
    }

    .titlecatalog-ban {
        font-size: 30px;
        line-height: 34px;
    }

    .regular-text {
        font-size: 14px;
        line-height: 24px;
    }

    .paragraf-1 {
        font-size: 24px;
        line-height: 30px;
    }

    .paragraf-2 {
        font-size: 12px;
        line-height: 20px;
    }
}