* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

body {
    background-color: #ffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;

}

.banner,
.navigation,
.frame {
    padding: 0 32px;
}


.top-slice {
    background-color: #F3F5F7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    margin-left: auto;
}

.content p {
    color: #141718;
}

.top-slice a {
    color: #377DFF;
    align-content: center;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}

.close {
    margin-left: auto;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
}

.nav-bar .home {
    color: #141718;
}

.title {
    color: #141718;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
}

.grey {
    color: #6C7275;
    font-weight: 500;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
}

.nav-bar a {
    text-decoration: none;
    color: #6C7275;
}

.icon-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.shop-bag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

.slide {
    position: relative;
}

.button1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.button2 {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.point {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 32px 0 40px 0;
}

.title2 {
    font-size: 72px;
    text-wrap: nowrap;
    font-weight: 500;
    line-height: 76px;
}

.textp {
    font-size: 16px;
    max-width: 453px;
}

.card {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 24px;
}

.small-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.small-card1 {
    position: relative;
}

.small-card2 {
    position: relative;
}

.placeholder {
    position: relative;
}

.text-card1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 48px;
    left: 48px;
}

.Shopnow {
    color: #141718;
    text-decoration: underline;
    text-underline-position: under;
    align-content: center;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
}

.room {
    font-size: 34px;
    text-decoration: none;
    color: #141718;
    font-weight: 500;
}

.text-card2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 201px;
    left: 32px;
}

.text-card3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    top: 201px;
    left: 32px;
}

.title-catalog {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    max-width: 1120px;
    margin: 0 auto;
    padding: 48px 0;
}

.titlecatalog {
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: #141718;
    line-height: 44px;
}

.catalog {
    overflow: hidden;
}


.catalog-card {
    display: flex;
    gap: 24px;
    max-width: 1120px;
    margin: 0 auto;
}

.catalog-text button {
    display: flex;
    gap: 2px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    padding-top: 12px;
}

.catalog-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.catalog-card-with-text {
    display: flex;
    flex-direction: column;
}

.catalog-text-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #141718;
    text-decoration: none;
}

.prices {
    display: flex;
    gap: 12px;
}

.price-now {
    text-decoration: none;
    color: #141718;
    font-size: 14px;
    line-height: 22px;
    font-weight: 550;
}

.price-befor {
    color: #6C7275;
    text-decoration: line-through;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.catalog-img {
    position: relative;
}

.catalog-img button {
    cursor: pointer;
}

.buttons-line button {
    border: none;
}

.hover-buttons-1 {
    display: none;
    position: absolute;
    background-color: #141718;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.04px;
    padding: 9px 74px;
    border-radius: 8px;
    bottom: 16px;
    left: 16px;
}

.hover-buttons-2 {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: none;
    border: none;
}

.buttons-line {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.new {
    position: absolute;
    background-color: #FFFFFF;
    color: #141718;
    padding: 4px 14px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    top: 16px;
    left: 16px;
}

.sale {
    position: absolute;
    background-color: #38CB89;
    color: #fff;
    padding: 4px 14px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    top: 48px;
    left: 16px;
}


.range-slider {
    display: flex;
    justify-content: center;
    margin: 48px 0 48px 0;
}

.slider-range {
    -webkit-appearance: none;
    width: 1120px;
    height: 4px;
    background: #E8ECEF;
    border-radius: 80px;
    outline: none;
    cursor: pointer;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 834px;
    height: 4px;
    background: #343839;
    border-radius: 80px;
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 834px;
    height: 4px;
    background: #343839;
    border-radius: 80px;
    cursor: pointer;
}

.advice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 0 48px 0;
}

.greycard {
    background-color: #F3F5F7;
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
}

.smtext-1 {
    line-height: 28px;
    text-decoration: none;
    color: #141718;
    font-weight: 500;
    font-size: 20px;
}

.smtext-2 {
    line-height: 24px;
    text-decoration: none;
    color: #6C7275;
    font-weight: 300;
    font-size: 14px;
}

.baner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-baner {
    width: 100%;
}

.block-baner {
    background-color: #F3F5F7;
    width: 100%;
}

.text-banner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 140px auto auto 72px;
    max-width: 452px;
}

.regular-text {
    font-weight: 300;
    line-height: 32px;
    font-size: 20px;
    text-decoration: none;
    color: #141718;
}


.sale-up {
    color: #377DFF;
    align-content: center;
    text-decoration: underline;
    text-underline-position: under;
    display: flex;
    align-items: center;
    line-height: 16px;
}

.article {
    padding: 80px 0 40px 0;
}

.images-art {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    justify-content: space-between;
}

.images-art-img {
    padding-bottom: 24px;
}

.images-art-a {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 28px;
}

.article {
    padding-bottom: 80px;
}

.img-email {
    max-width: 100%;
    position: relative;
}

.img-email input {
    display: flex;
    justify-content: center;
    background-image: url(/img/icon/email.svg) no-repeat;
}

.img-email img {
    width: 100%;
}

.paragraf {
    text-decoration: none;
}

.title-email {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 101px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.footer {
    background-color: #141718;
}

.catalog-img:hover {
    .hover-buttons-1 {
        display: inline;
    }

    .hover-buttons-2 {
        display: inline;
    }
}

@media(max-width: 900px) {
    .frame {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }



}